.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header{
    background-color: #212121;
    display: flex;
    font-size: calc(10px + 1vmin);
    color: white;

    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.App-footer  {
  background-color: #212121;
  display: flex;
  font-size: calc(10px + 1vmin);
  color: white;
  justify-content: center;
  padding: 10px;
}
.App-main {
    /*border: 2px #A54545 dashed;*/
    padding: 20px;
    width: 80%;
    min-height: 340px;
    margin: 50px auto;
    color: white;
    flex-grow: 1; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiButton-root{
  margin-left: 5px !important;
  color: white !important;
}
a{
  text-decoration: none;
  color: #2FB5D2;
}


.navbar-menu a{
    padding: 5px;
    float: left;
    size: 80% !important;
}


